* {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

body {
	background-color: #6600ff;
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: center center;
	height: 100vh;
}
