* {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

button {
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	font-size: 16px;
	box-sizing: border-box;
	margin: 10px 0 20px 0;
	border-radius: 3px;
	border: 1px solid #cecece;
	background: #f8f8f8;
	outline: none;
}

form {
	display: flex;
	flex-direction: column;
}
a,
a:active {
	color: inherit;
	text-decoration: none;
}
